language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t 850324/docker-react -f Dockerfile.dev .
script:
  - docker run -e CI=true 850324/docker-react npm run test
deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "dockerapp"
  env: "Dockerapp-env"
  bucket_name: "elasticbeanstalk-us-east-1-366699784152"
  bucket_path: "dockerapp"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: "$AWS_SECRET_KEY"
